.container {
    display: flex;
    flex-direction: column;
    text-align: center;
  
    img {
      max-width: 250px;
      align-self: center;
      background-color: var(--project-card-bg);
      border-radius: 20px;
    }
  
    a {
      width: fit-content;
      text-decoration: none;
      color: #222;
      transition: transform 200ms ease-in-out;
      background-color: #88888860;
      padding: 20px;
      border-radius: 10px;

    }
  
    a:hover {
      transform: scale(1.05);
    }
    h1{
      font-size: 40px;
    }
  }

  
  .ProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
  }

  h3 {
    margin: 13px 0 5px;
    font-size: 18px; 
    max-width: 25ch;
    margin-bottom: 10px; 
  }

  p{
    max-width: 25ch;
    font-size: 15px;
    margin: auto;
  }
  @media (width >= 800px) {
    .ProjectsContainer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 30px;
    }

    p{
      margin-top: 10px;
    }
    
  }
  