.container{
    display: flex;
    text-align: center;
    justify-content: center;
    p{
        font-size: 10px;
        color: var(--footer-text-color);
        max-width: 500px;
    }
}

@media (width >= 800px){
    .container{
        p{
                    font-size:17px;
                    color: var(--footer-text-color);
                    max-width: 1000px;
            }
        }
}
